:root {
  --color1: #1d1d1d;
  --color2: #0d0d0d;
  --color3: #fefefe;
  --color4: #474cfe;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
  margin: 0;
  padding: 5px;
  font-family: "Inter", Arial;
  box-sizing: border-box;
}

li {
  list-style: none;
  z-index: 10;
}

a,
a:visited {
  text-decoration: none;
  color: var(--color3);
  transition: 0.4s;
  z-index: 10;
}

a:hover {
  font-size: 1.3rem;
  color: var(--color4);
}

p {
  font-size: 0.8rem;
}

body {
  background: var(--color1);
  min-height: 100vh;
  color: var(--color3);
  cursor: none;
}

nav {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px 20px;
  height: 80px;
}

nav ul {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

header {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  margin: 30px auto;
}

h1 {
  font-size: 5rem;
}

header h3 {
  color: var(--color4);
  font-size: 1.8rem;
}

.header-right {
  width: 100%;
}

#modem {
  width: 100%;
  padding: 0;
  display: block;
  margin: 0 auto;
}

section.infos {
  display: grid;
  grid-template-columns: 33% 67%;
  background: var(--color2);
  color: var(--color3);
  border-radius: 10px;
}

section.infos h3 {
  color: var(--color3);
}

button {
  display: block;
  width: 150px;
  height: 30px;
  padding: 10px 0;
  border-radius: 10px;
  background: var(--color4);
  border: none;
  color: var(--color3);
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px;
}

.investors {
  width: 100%;
  display: grid;
  align-items: center;
  height: 80%;
}

.img-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

section.infos img {
  height: 60px;
}

/* ********* MEDIA QUERIES ******* */

@media screen and (max-width: 900px) {
  h1 {
    font-size: 2.5rem;
  }
  header h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
  }
  section.infos img {
    height: 40px;
  }
}

@media screen and (max-width: 450px) {
  nav {
    grid-template-columns: 35% 65%;
  }
  nav ul {
    font-size: 0.6rem;
  }
  header {
    display: block;
  }
  h1 {
    font-size: 2rem;
  }
  header h3 {
    font-size: 1.3rem;
  }
  section.infos {
    display: block;
    text-align: center;
  }
  button {
    margin: 5px auto;
  }
  .investors {
    display: block;
  }
  section.infos img {
    height: 33px;
  }
}

/* MOUSE EFFECT */

.circle {
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  transform: translate(-50%, -50%);
}

#c1 {
  z-index: 6;
  height: 6px;
  width: 6px;
  background: green;
}

#c2 {
  z-index: 5;
  transition: 0.2s ease-in-out;
  height: 100px;
  width: 100px;
  background: var(--color3);
  mix-blend-mode: difference;
}

#c3 {
  z-index: 4;
  transition: 0.4s ease-in-out;
  height: 200px;
  width: 200px;
  opacity: 0.3;
  background: var(--color2);
}
